.card--container {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.card--container:hover {
    width: 175px;
    cursor: pointer;
}

.card--poster {
    width: 100%,
}

.card--title {
    text-decoration: none;
}