header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-inline: 20px;

    background-color: #151515;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.site-logo {
    margin-block: 15px;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}

.log-out--button {
    align-self: center;
    background: none;
    border: solid 1px #FFFFFF;
    border-radius: 2px;
    font-family: Poppins;
    color: #FFFFFF;
    font-size: 1rem;
    margin: 0;
    cursor: pointer; 
}