header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-inline: 20px;

    background-color: #151515;

    font-family: Poppins;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.site-logo {
    margin-block: 15px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
}