.search-bar--container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3rem;
    background-color: #151515;
    border-radius: 10px;
    border: solid 2px #00FF00;
}

.search-bar {
    padding: 0.75em;
    flex: 1;
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-icon {
    height: 30px;
    width: auto;
}